<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script src="./js/timer.js"></script>
    <title>Insteon Controller</title>
</head>
<body>

    <div class="add-device">
        
    </div>

    <form action="/on" method="POST" id="onForm">
        <h4>On</h4>
        <input name="deviceID">
        <button type="submit">On</button>
    </form>
    <form action="/off" method="POST">
        <h4>Off</h4>
        <input name="deviceID">
        <button type="submit">Off</button>
    </form>


    <div class="device">
        <h4>Spotlight</h4>
        <form action="/on" method="POST">
            <input value="5617CC" name="deviceID">
            <button type="submit">On</button>
        </form>
        <form action="/off" method="POST">
            <input value="5617CC" name="deviceID">
            <button type="submit">Off</button>
        </form>
    </div>

    <div class="device">
        <h4>Landscape Lights</h4>
        <form action="/on" method="POST">
            <input value="5618B3" name="deviceID">
            <button type="submit">On</button>
        </form>
        <form action="/off" method="POST">
            <input value="5618B3" name="deviceID">
            <button type="submit">Off</button>
        </form>
    </div>

</body>
</html>